/*--------------------------------------------------------------
# About (hero) Section
--------------------------------------------------------------*/
#about {
  width: 100%;
  max-width: 100% !important;
  height: 100vh;
  background: url("../assets/img/hero-bg.png") top right no-repeat;
  background-size: cover;
  position: relative;
}

#about div {
  max-width: 75rem;
}

#about:before {
  content: "";
  background: rgba(255, 255, 255, 0.7);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#about .social-links a {
  font-size: 24px;
  display: inline-block;
}

@include media-breakpoint-down(lg) {
  #about {
    text-align: center;
    height: calc(100vh - 3.375rem);
  }
}
